.main-content{
    background-image: url("../../assets/img/back-interior.jpg");
	/* Para dejar la imagen de fondo centrada, vertical y
	horizontalmente */
	/*background-position: center center;
	/* Para que la imagen de fondo no se repita */
    background-repeat: no-repeat;
	/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
    background-attachment: fixed;
	/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: 100% 100%;
}
#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    font-size: 10px;
    border: none;
    outline: none;
    background-color: #0082cb;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}
#myBtn:hover {
    background-color: #555;
}

.upperCase{
    text-transform: uppercase;
}

.spacing-1{
    padding-top: 1%;
}
.spacing-2{
    padding-top: 2%;
}
.spacing-3{
    padding-top: 3%;
}
.spacing-4{
    padding-top: 4%;
}
.spacing-5{
    padding-top: 5%;
}
.spacing-6{
    padding-top: 6%;
}
.spacing-7{
    padding-top: 7%;
}
.spacing-8{
    padding-top: 8%;
}
.spacing-9{
    padding-top: 9%;
}
.spacing-10{
    padding-top: 10%;
}
.spacing-11{
    padding-top: 11%;
}
.spacing-12{
    padding-top: 12%;
}
.spacing-13{
    padding-top: 13%;
}
.spacing-14{
    padding-top: 14%;
}
.spacing-15{
    padding-top: 15%;
}

.hover {
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.hover:hover{
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
    -webkit-transform:scale(1.0150);
    -moz-transform:scale(1.0150);
    -o-transform:scale(1.0150);
    opacity: 1;
    z-index: 10;
}
.set-hover{
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
    -webkit-transform:scale(1.0150);
    -moz-transform:scale(1.0150);
    -o-transform:scale(1.0150);
    opacity: 1;
    z-index: 10;
    box-shadow: 10px 10px 10px -7px #048037;
}

.border-custom:hover{
    -webkit-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    -webkit-transform:scale(1.0150);
    -moz-transform:scale(1.0150);
    -o-transform:scale(1.0150);
    opacity: 1;
    z-index: 10;
    box-shadow: 10px 10px 10px -7px #048037;
}

/*CONTENEDORES DE LA VISTA CEDULA*/
.containerJJCedula{
   	border: 3px solid rgb(22, 44, 44);
   	box-shadow: 7px 7px rgba(22, 44, 44, 0.6);
   	height: 250px;
   	border-radius: 25px;
}
.containerJJExpe{
   	border: 3px solid rgb(22, 44, 44);
   	box-shadow: 10px 10px 2px rgba(22, 44, 44, 0.6);
   	height: 300px;
   	border-radius: 25px;
}
.containerJJExpeBoxOut{
    border: 3px solid rgb(22, 44, 44);
    height: 300px;
    background-color:rgb(227,225,224);
}
.containerJJProgramas{
    border: 3px solid rgb(22, 44, 44);
    box-shadow: 7px 7px 2px rgba(22, 44, 44, 0.6);
    height: 300px;
   	border-radius: 25px;
}
.containerOutH{
    border: 3px solid rgb(22, 44, 44);
   	box-shadow: 5px 5px 3px rgba(22, 44, 44, 0.6);
   	border-radius: 25px;
}

.backCards{
    background: url(../../assets/img/back.jpg) no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
   	background-size: 100% 100%;
   	height: 300px;
   	color:#9aa1a4;
    background-color: #669999;
}

.backCardsCredenciales{
    background: url(../../Storage/Evidencias/imgPrograms/PNG-CUADRADO/back.png)  no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
   	background-size: 100% 100%;
   	color:#9aa1a4;
   	/*height: 700px;*/
}
.backCardsCredencialesM{
    background: url(../../Storage/Evidencias/imgPrograms/PNG-CUADRADO/backmujeres.png)  no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
   	background-size: 100% 100%;
   	color:#9aa1a4;
   	/*height: 700px;*/
}

.backCardsSites{
	/*background-color: rgb(236,240,245);*/
  	font-family: NeoSansPro-Bold;
  	font-size: 15px;
  	color: grey;
  	text-align: left;
  	padding-left: 5%;
  	height: 92px;
  	padding-top: 10%;
  	padding-bottom: 5%;
}
.backCardsSitesLogo{
    background-color: rgb(236,240,245);
}

.backCardsProgramsCedula{
    background: url(../../assets/img/backTarget.png)  no-repeat;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
   	background-size: 100% 100%;
}

.backCardErrorRequest{
	/*border: 3px solid rgb(22, 44, 44);
   	box-shadow: 5px 5px 3px rgba(22, 44, 44, 0.6); */
   	box-shadow: 10px 10px 10px -7px #4f4f51;
  	background-color: white;
  	border: 1px solid rgb(239,240,241);
}


.titleHead{
  	font-family: Montserrat-Regular;
  	color: #fff;
  	font-size: 29px;
}

.titlePage{
    color: #048037;/*VERDE*/
}/*
.titlePage span {
  		/*color: #5D5F5F;*/
/*    color: #2bb273;
}*/
.titleApp{
  	color:#9aa1a4;
  	font-size: 30px;
}
.icon-menu{
	/*color: #28A6DE;*/
    font-size: 1.5rem;
}


.boderSALL{
  	border-style: double;
  	border-color: #0082cb;
}
.border-right-1{
  	border-style: double;
  	border-color: #0082cb;
  	border-right: none;
}
.border-only-right-Shadow{
	/*border-right: 2px solid gray;*/
    box-shadow: 10px 0px 10px -11px rgba(0,0,0,0.9);
}

.hrSeparator{
  	background-color: grey;
  	height: 1px;
  	padding-top: 0px;
}

.elevation-solid-Left-to-Top{
    border-top: 2px solid gray;
    border-left: none;
}
@media screen and (min-width: 767px) {
    .elevation-solid-Left-to-Top{
      border-left: 2px solid gray;
      border-top: none;
    }
}

.elevation-solid-Right{
    border-right: 2px solid gray;
}

.hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.hoverable:hover { /*SOMBRA AL HACER HOVER*/
    -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    -webkit-transition: all .55s ease-in-out;
    -o-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}
.z-depth-1 { /*SOMBRAS POR NIVELES -----PARECIDO A LA CLASE elevation-(Numero de 1 a 5) de los estilos de adminLte*/
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
}
.z-depth-2 {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19);
}
.z-depth-3 {
    -webkit-box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
    box-shadow: 0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.z-depth-4 {
    -webkit-box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
    box-shadow: 0 16px 28px 0 rgba(0,0,0,.22),0 25px 55px 0 rgba(0,0,0,.21);
}
.z-depth-5 {
    -webkit-box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
    box-shadow: 0 27px 24px 0 rgba(0,0,0,.2),0 40px 77px 0 rgba(0,0,0,.22);
}


.thead-green{
    background-color: #048037;
    color: white;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #6c757d;
    background-color: #fff;
    border: 1px solid #048037;
}

.page-link:hover {
    z-index: 2;
    color: #fff;
    text-decoration: none;
    background-color: #83e378;
    border-color: #83e378;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #048037;
    border-top-color: #048037;
    border-right-color: #048037;
    border-bottom-color: #048037;
    border-left-color: #048037;
}
.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #048037;
    border-color: #048037;
}

.border-custom{
    border-style: solid;
    border-color: #048037;
    border-radius: .25rem;
    border-width: thin;
}

.thead-fixed th{
    position: sticky; top: 0; background:#048037;
}
