/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";*/

@font-face {
  font-family: "Montserrat-Regular";
  src: url(./Fonts/montserrat/Montserrat-Regular.ttf);

}

@font-face {
  font-family: "Montserrat-Bold";
  src: url(./Fonts/montserrat/Montserrat-Bold.ttf);
}
/*
@font-face {
  font-family: "NeoSansPro-Light";
  src: url(./Fonts/NeoSansPro-Light.otf?894d0f3a76a7f6f8134a7234000f98e2);
}

@font-face {
  font-family: "NeoSansPro-Italic";
  src: url(./Fonts/NeoSansPro-Italic.otf?06b09a5b6fc0bcc06d911276d4fcc767);
}

@font-face {
  font-family: "NeoSansPro-Bold";
  src: url(./Fonts/NeoSansPro-Bold.ttf?65482afbeb61af43c403d0fec1fdb679);
}

@font-face {
  font-family: "NeoSansPro-Ultra";
  src: url(./Fonts/NeoSansPro-Ultra.otf?1f193b8689ee475e88d5aa0dbf18673a);
}*/

html,body{
  font-family: "Montserrat-Regular";
}
