.fondo{ 
  	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
   -moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), 
   -moz-linear-gradient(-45deg,  white 0%, rgba(0,0,0,.5) 100%);
  	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%), 
   -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
   -webkit-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
  	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%), 
   -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
   -o-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
   background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%), 
   -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
   -ms-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
   background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%), 
   linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), 
   linear-gradient(135deg,  white 0%,rgba(0,0,0,.5) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
}

.fondo-menu{
  background-color: #EDECEC;
  /*background-image: url("../../Storage/Evidencias/imgPrograms/vertical/back-aside.png");
  /* Para dejar la imagen de fondo centrada, vertical y
  horizontalmente */
  /*background-position: center center;
  /* Para que la imagen de fondo no se repita */
  /*background-repeat: no-repeat;
  /* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
  /*background-attachment: absolute;
  /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
  /*background-size: 100% 100%;
  /* Se muestra un color de fondo mientras se está cargando la imagen
  de fondo o si hay problemas para cargarla */
  /*background-color: #669999;*/
}
.hover-item:hover{
  color: #28A6DE;/* AZUL */
}
.fondo-menu i{
  color: #2bb273;
  font-size: 30px;
}
.active-item{
  background-color: rgba(66,70,76,.3)
}
.item{
  color: #28A6DE;/* AZUL */
}
.contentSubitem{
  width: 100%; 
  font-size: 12px;
}
