/*!
 * Side Bar - G214
 * Copyright G214
 * Created by  José Juan del Prado Lugo
*/

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans);*/

/*@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";*/

@font-face {
  font-family: "Montserrat-Regular";
  src: url(./Fonts/montserrat/Montserrat-Regular.ttf);

}
/*
@font-face {
  font-family: "NeoSansPro-Light";
  src: url(./Fonts/montserrat/NeoSansPro-Light.otf?894d0f3a76a7f6f8134a7234000f98e2);
}

@font-face {
  font-family: "NeoSansPro-Italic";
  src: url(./Fonts/montserrat/NeoSansPro-Italic.otf?06b09a5b6fc0bcc06d911276d4fcc767);
}*/

@font-face {
  font-family: "Montserrat-Bold";
  src: url(./Fonts/montserrat/Montserrat-Bold.ttf);
}
/*
@font-face {
  font-family: "NeoSansPro-Ultra";
  src: url(./Fonts/NeoSansPro-Ultra.otf?1f193b8689ee475e88d5aa0dbf18673a);
}*/

html,body{
  font-family: "Montserrat-Regular";
  background-image: url("../../assets/img/back-home.jpg");
	/*-webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;*/

	/* Para dejar la imagen de fondo centrada, vertical y
	horizontalmente */
	/*background-position: center center;
	/* Para que la imagen de fondo no se repita */
	background-repeat: no-repeat;
	/* La imagen se fija en la ventana de visualización para que la altura de la imagen no supere a la del contenido */
	background-attachment: fixed;
	/* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
	background-size: 100% 100%;
	/* Se muestra un color de fondo mientras se está cargando la imagen
	de fondo o si hay problemas para cargarla */
	/*background-color: #669999;*/
}
.fondo{
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
	-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
	-moz-linear-gradient(-45deg,  white 0%, rgba(0,0,0,.5) 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
	-webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
	-webkit-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
	-o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
	-o-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
	-ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
	-ms-linear-gradient(-45deg,  white 0%,rgba(0,0,0,.5) 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(0,0,0,0) 10%,rgba(0,0,0,.2) 40%),
	linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%),
	linear-gradient(135deg,  white 0%,rgba(0,0,0,.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=1 );
}

.titleIndex{
	color:white;
	font-family: Montserrat-Regular;
	letter-spacing:0px;
	/*background-image: -webkit-gradient(
		linear,
		right bottom,
		left bottom,
		color-stop(0, #28A7DE),
		color-stop(1, #24A368)
	);
	background-image: -o-linear-gradient(left, #28A7DE 0%, #24A368 100%);
	background-image: -moz-linear-gradient(left, #28A7DE 0%, #24A368 100%);
	background-image: -webkit-linear-gradient(left, #28A7DE 0%, #24A368 100%);
	background-image: -ms-linear-gradient(left, #28A7DE 0%, #24A368 100%);
	background-image: linear-gradient(to left, #28A7DE 0%, #24A368 100%);*/
}
.titleIndex h2{
	padding-top: 5px;
	padding-bottom: 0px;
}

.boxS{
  border: 1px solid;
  box-shadow: 6px 6px #4f4f51;
}


.login {
  /*box-shadow: 10px 10px 10px -7px #4f4f51;
  background-color: white;*/
  /*border: 1px solid rgb(239,240,241);*/
}
.login h3 {
	/*color: grey;*/
	letter-spacing:0px;
	text-align:center;
}

.inputLogin {
  background-color: rgb(239,240,241);
  font-size: 13px;
  color: grey;
  box-shadow: 2px 2px 2px -2px #4f4f51;
}

.btn-session{
	color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-size: 21px;
	line-height: 18px;
	padding: 4px 10px 4px;
	width: 100%;
    height: 40px;
	*zoom: 1;
	background-color: #048037;
	border: 1px solid #048037;
}

.btn-session:hover{
	color: #ffffff;
	text-decoration: none;
	background-color: #048037;
	background-position: 0 -15px;
	-webkit-transition: background-position 0.1s linear;
	-moz-transition: background-position 0.1s linear;
	-ms-transition: background-position 0.1s linear;
	-o-transition: background-position 0.1s linear;
	filter: none; background-color: #048037;
	-webkit-transform:scale(1.02);
	-moz-transform:scale(1.02);
	-o-transform:scale(1.02);
}
