/*!
 * Side Bar - G214
 * Copyright G214
 * Created by  José Juan del Prado Lugo 
 */

.hover:hover{
   -webkit-transform:scale(1.0150);
   -moz-transform:scale(1.0150);
   -o-transform:scale(1.0150);
   opacity: 1;
   z-index: 10;
}

.my_Box1{
   border: 3px rgb(23,162,184);
   box-shadow: 10px 10px rgba(22, 44, 44, 0.6); 
   width: 85%;
   border-radius: 0px 50px 0px 50px;
}

.my_Box2{
    box-shadow: 5px 5px 5px 5px  rgba(22, 44, 44, 0.6); 
}